<% include partials/header.ejs %>


<div id="background-img">
    <div id="container">
        <div id="topnav">
            <a href="#">Ferm Web design</a>
            <a href="/">Hem</a>
            <a href="/tjanster">Tjänster</a>
            <a href="/exempel">Exempel</a>            
        </div>
        <div class="row justify-content-center">
            <div id="salein" class=" col-10 col-lg-6">
                <h1>Att vara småföretagare är svårt nog</h1>
            </div>  
        </div>
    </div>
</div>

<div class="row mt-5 justify-content-center">
    <div class="col-lg-2"></div>
    <div class="col-6 col-lg-2">
        <img class="cover" src="screen.png" alt="">
        <p class="kop" >Vi tar hand om allt tekniskt så att du kan fokusera på att driva din verksamhet och inte på att klura ut hur mankopplar ihop sin domän med sin server.</p>
    </div>
    <div class="col-lg-1"></div>    
    <div class="col-6 col-lg-2">
        <img class="cover" src="pen.png" alt="">
        <p class="kop">Vi har ett driv och genuint intresse för design. Så mycket bestäms av det första intrycket, därför tror vi stenhårt på att jobba med design.</p>
    </div>
    <div class="col-lg-1"></div>    
    <div class="col-6 col-lg-2">
        <img class="cover" src="money.png" alt="">
        <p class="kop">Vi jobbar inte som de stora firmorna, vi jobbar för oss småföretagare och kommer inte ruinera verksamheten med en enda faktura</p>
    </div>
    <div class="col-lg-2"></div>
    
</div>
<div class="row justify-content-center">
    <div class="col-8">
        <h1 id="varfor">Hur hittar kunder dig?</h1>
    </div>
</div>

<div id="texty"class="row">
    <div class="col-2"></div>
    <div id="kundis" class="col-4">
        <!-- <h1 id="hur">Hur hittar kunder dig?</h1> -->
        <p>Med Internet är det idag lättare än någonsin för kunder att hitta entreprenörer men det gäller självfallet bara för de som har en online närvaro. Om du inte finns online idag så finns du knappt och detta kommer bara att bli mer och mer sant när de äldre generationerna försvinner och de yngre är allt som är kvar av marknaden.</p>
        <p>När kunderna sedan väl hittar dig och din hemsida så är det första intrycket avgörande. En dåligt gjord hemsida kommer bara att skrämma bort kunder som inte kommer att ta ditt företag på allvar, och även om de gör det så lär kundupplevelsen vara mycket sämre än vad den hade kunnat vara. Därför är det extremt viktigt med en väldesignad och dynamisk hemsida som ger ett gott intryck till dina kunder.</p>
    </div>
    <div class="col-4">
        <img id="computer-google"class="cover"src="computer-google.png" alt="">
    </div>
    <div class="col-2"></div>    
</div>

<div class="row justify-content-center">
    <div class="col-4" id="redirect">
        <h1>Tjänster och kontakt</h1>
    </div>
</div>




<% include partials/footer.ejs %>