<!DOCTYPE html>
<html lang="en">
<head>

    <title>Document</title>
    <style>

        body{
            text-align: center;
        }
    
    </style>
</head>
<body>
    <h1>Sidan du försökte nå finns inte</h1>
    <h1>Omdirigerar till startsidan om 3 sekunder</h1>


    <script>
        setTimeout(() => {
            window.location.href = "http://fermwebdesigns.com/";
        }, 3000);
    </script>
</body>
</html>