<% include partials/header-tjanster.ejs %>
<div id="background-img">
    <div id="container">
        <div id="topnav">
            <a href="#">Ferm Web design</a>
            <a href="/">Hem</a>
            <a href="/tjanster">Tjänster</a>
            <a href="/exempel">Exempel</a>
        </div>

        <div class="row justify-content-center">
            <div class="col-10 col-lg-6" >
                    <h1 id="din">Din hemsida, din design</h1>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center mt-5">
    <div  class="col-5">
        <div id="pros">
        
            <h1 id="kontakt">Kontakta på blablabla@gmail.com</h1>
        </div>
    </div>
    <div id="syftet" class="col-3">
        <p>Jag har sedan jag gick i fjärdeklass programmerat hemsidor utan särskilt syfte. Nu använder jag dessa färdigheter inom desing och programmering för att hjälpa andra att nå ut med sitt budskap och nå kunder. Jag tror på att du som egenföretagare ska jobba med ditt företag och med det du kan bäst och jag ska göra samma sak, då kommer vi nå det bästa möjliga resultatet. </p>
        <p>Genom att använda olika programmeringsspråk och att hela tiden vidareutbilda mig försöker jag att skapa den hemsida som är perfekt för dig. Vare sig det är blinkande färger, videos eller animationer så ser jag till att det drivs smidigt så att upplevelsen för dina kunder är den absolut bästa möjliga.</p>
        <!-- <p>Syftet av en hemsida är att förmedla information. Vare sig det är om din produkt eller din tjänst så finns det miljontals vis att göra det på. Bilder, videor, animationer och effekter kan alla användas för att skapa just din hemsida. Att få allt det att se bra ut och inte som att det är hemmasnickrat kräver erfarenhet och en fingertoppskänsla.</p>
        <p>Det går såklart att använda en klicka och dra hemside skapare online, men kommer det verkligen bli riktigt lika bra? Nej det tycker inte jag. Genom att programmera en hemsida från grunden kan jag kontrollera alla aspekter ner till en pixelnivå för att få till den exakta image som säljer in ditt varumärke.</p>
        <p>Fördelen med att anlita en expert är ungefär som skillnaden mellan en finsnickare och att handla på ikea. Handlar du på ikea är du begränsad till olika mallar och dimensioner medans en finsnickare kan skapa möbler som passar just ditt hem. Samma sak gäller med hemsidor. Jag använder olika programmeringsspråk för att skapa en effektiv "platsbyggd" hemsida som passar dig perfekt.</p>
        <p>Om du någonsin har problem med en hemsida jag byggt så vet du att jag kommer att fixa det så fort jag vet om det, så att du slipper spendera din tid på att lista ut vad som gått fel och istället jobba på det som du gör bäst</p> -->
    </div>
</div>
<div class="filler">

</div>

<% include partials/footer.ejs %>