<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great|Open+Sans+Condensed:300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/tjanster.css">
    <link rel=”shortcut icon” href=”/favicon.ico” type=”image/x-icon” />
    <title>Document</title>
</head>
<body>



<div id="background-img">
    <div id="container">
        <div id="topnav">
            <a href="#">Ferm Web design</a>
            <a href="/">Hem</a>
            <a href="/tjanster">Tjänster & kontakt</a>
        </div>

        <div class="row justify-content-center">
            <div class="col-10 col-lg-6" >
                    <h1 id="din">Din hemsida, din design</h1>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center mt-5">
    <div  class="col-12 col-lg-5">
        <div id="pros">
            <h1 id="kontakt">Kontakta mig på <a href="mailto:info@fermwebdesigns.com?Subject=Hemsida">info@fermwebdesigns.com</a></h1>

            <div class="row justify-content-center mt-5">
                <div class="col-6 ">
                    <div class="chart" data-percent="66" data-scale-color="#ffb400"></div>
                    <p>Över två tredjedelar av små företag har ingen hemsida, var inte en av dem!</p>
                </div>
            </div>
        </div>
    </div>
    <div id="syftet" class="mt-5 mt-lg-0 col-8 col-lg-3">
        <p>Jag är en studerande med ett starkt driv för design, teknologi och marknadsföring. Första gången jag någonsin programmerade en hemsida var i femte klass, förvisso ingen fin hemsida. Sedan dess har mitt intresse övergått från själva utförandet till hur rader av kod kan göra intryck på människor. Hur en hemsidas olika komponenter och delar jobbar tillsammans för att ge ett intryck och forma våra uppfattningar.  </p>
        <p>Genom att använda olika programmeringsspråk och att hela tiden vidareutbilda mig försöker jag att skapa den hemsida som är perfekt för dig. Vare sig det är blinkande färger, videos eller animationer så ser jag till att det drivs smidigt så att upplevelsen för dina kunder är den absolut bästa möjliga. </p>
    </div>
</div>
<div class="filler">

</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="js/main.js"></script>
<script src="easy-pie-chart-master/dist/jquery.easypiechart.js"></script>
</body>
</html>